@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Space Mono', monospace;
    line-height: 1rem;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
}

.input_fields {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rebeccapurple;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.output_fields {
    margin: 1rem;
    padding: 1rem;
    /* border: 2px solid rebeccapurple; */
    color: whitesmoke;
    background-color: hsl(183, 100%, 15%);
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bill_amount p,
.select_percent p,
.no_of_people p {
    margin-bottom: 1rem;
}

input {
    text-align: end;
    width: 360px;
    height: 35px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.buttons:last-child {
    color: #000;
}

.btn {
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: hsl(183, 100%, 15%);
    cursor: pointer;
    color: whitesmoke;
}

.tip_amount,
.total {
    display: flex;
    justify-content: space-between;
}

.text_amount span {
    color: hsl(184, 14%, 56%);
    font-size: 0.8rem;
}

.num_amount {
    font-size: 2rem;
    color: hsl(172, 67%, 45%);
}

.reset_btn button {
    width: 330px;
    height: 50px;
    align-content: center;
    background-color: rebeccapurple;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%)!important;
    cursor: pointer;
}